/*
LINKS EXTERNOS
*/

section#galeria-home>div>figure{
    padding: 0;
    
}
section#galeria-home>div>figure>img{
    width: 180px;
    height: 120px;
}
section#galeria-home>div>figure>a>img{
    width: 180px;
    height: 120px;
}
.img-galeria{
    width: 180px;
    height: 120px;   
}