#login-form{
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #C8C8C8;
}

.g-signin2{
    display: flex;
    justify-content: center;
}

