*{
    font-family: "Titillium Web", Sans-serif;
    max-width: 100vw !important;
}
body{
    margin: 0;
}
#body-flex{
    min-height: 100vh;
}
.test-div{
    background-color: lightgray;
    border-width: 1px;
    border-color: grey;
    border-style: solid;
}

.img{
    margin-top: 2px;
    margin-bottom: 4px;
    border-radius: 7px;
    height:400px;
    width:550px;
}